/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--dark);
}
a:visited {
  color: black;
}


img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  font-family: inherit;
} */
div {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  background-color: rgba(200, 255, 248, 0.274);
}
ul,
ol,
li {
  text-align: left;

  list-style: none;
  font-size: 20px;
}

button {
  font-family: inherit;
  margin-right: 15px;
  font-size: 30px;
  background-color: rgba(233, 210, 5, 0.685);
}
button:first-child {
  background-color: rgba(101, 153, 5, 0.733);
}
button:last-child {
  background-color: rgba(218, 11, 11, 0.616);
}
li span {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 0.5px solid black;
}
